.settings_body {
  background-color: #1f2c30;
  margin-top: 7%;
  margin-left: 18%;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 40px;
  font-family: Poppins;
  margin-top: 70px;
  color: white;
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
  margin-left: 2%;
  font-family: Poppins;
  color: white;
}

.PersonalForm {
  width: 65%
}

.PersonalEditForm {
  display: flex;
  margin: 12px;
}

.PersonalEditInput {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #d7e7ec;
}

.PersonalEditSubmitt {
  position: relative;
  width: fit-content;
  padding-right: 46px;
}

.PersonalEditSubmitt::after {
  content: "\27a4";
  color: #333;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.label_ {
  width: 20%;
  color: white;
  font-weight: 500;
}

.update_msj {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}


.TableStyleQuali {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.TableStyleQuali th,
.TableStyleQuali td {
  text-align: center;
  padding: 12px;
  color: white;
  border: 1px solid #ddd;
}

.TableStyleQuali th {
  background-color: #171d1f;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.TableStyleQuali tr:nth-child(even) {
  background-color: transparent;
}

.TableStyleQuali tr:hover {
  background-color: rgb(46, 45, 45);
}

.Setting-Modal {
  display: none;
  position: fixed;
  left: 35%;
  top: 16%;
  width: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Setting-Modal-content {
  margin: auto;
  border-radius: 20px;
  background-color: #171d1f;
}

.mainSettdiv {
  display: flex;
  margin: 12px;
}
.inputQuabox {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}