.FormBg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  .bg-img {
    /* background-image: url("/src/Static/books2.jpg"); */
    background-color: #212529;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .content {
    margin-top: 0px;
    /*10px*/
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 82px;
    width: 520px;
    color: white;
    transform: translate(-50%, -50%);
    background-color: #252f38;
    /* background-image: url("/src/Static/books4.jpg"); */
    /*background-image: url("/src/Static/Light.png");
    /*background: rgb(48, 22, 22);
    border: 1px solid #fff;
    /*backdrop-filter: blur(7px);*/
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  }
  
  
  header[type="EI"]{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-family: 'Poppins';
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(0) infinite alternate;
    border-right: 3px solid white;
    
  }
  @keyframes text{
    0%{
      width: 0ch; 
    }
    50%{
      width: 20ch;
    }
  }
  
  .field {
    position: static;
    height: 40px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
  }
  
  .field span {
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  
  .input-box {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-style: inset;
    /* margin: 6px 0; */
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #171d1f;
  }
  
  select {
    background-color: #1f1e1e;
    color: #fff;
    border-radius: 20px;
  }
  
  .field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins";
  }
  
  .space {
    margin-top: 16px;
  }

  button {
    width: 50%;
    background: rgb(31, 30, 30);
    border: 1px solid #fff;
    margin: 8px 0 10px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 250px;
  
  }
  
  button[type="submit"]:hover {
    background: rgb(20, 20, 20);
  }
 
  .maindiv {
    display: flex;
    margin: 12px;
  }
  
  .submit-btn {
    position: relative;
    width: fit-content;
    padding-right: 46px;
  }
  
  .submit-btn::after {
    content: "\27a4";
    color: #333;
    line-height: 40px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  
  input[type="file"] {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-style: inset;
    /* margin: 6px 0; */
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
  }
  
  .form-control {
    background-color: #1f1e1e;
  
  }
  
  .field input[type="submit"] {
    background: rgb(31, 30, 30);
    border: 1px solid black;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
    border-radius: 20px;
  }
  
  .field input[type="submit"]:hover {
    background: rgb(20, 20, 20);
  }