.FormBgEQ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.bg-imgEQ {
  /* background-image: url("/src/Static/books2.jpg"); */
  background-color: #212529;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.contentEQ {
  margin-top: 0px;
  /*10px*/
  border-radius: 10px;
  position: absolute;
  top: 57%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 20px 12px 165px 12px;
  width: 40%;
  color: white;
  transform: translate(-50%, -50%);
  /* background-image: url("/src/Static/books4.jpg"); */
  background-color: #252f38;
  background-size: cover;
  /* backdrop-filter: blur(7px); */
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.TableStyleEQ {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.TableStyleEQ th,
.TableStyleEQ td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
}

.TableStyleEQ th {
  background-color: #171d1f;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.TableStyleEQ tr:nth-child(even) {
  background-color: transparent;
}

.TableStyleEQ tr:hover {
  background-color: rgb(46, 45, 45);
}

.EditBtnEQ {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.EditBtnEQ:hover {
  background-color: #3e8e41;
}


.ButtonsEQ {
  margin-top: 10px;
  position: absolute;
  right: 0;
  margin-right: 80px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0px;
  border-radius: 20px;
  /* background-image: url("/src/Static/fabric3.jpg"); */
  background-color: #171d1f;
}

.NextBtnEE {
  text-align: right;
}

.NextBtnEQ button {
  height: 50px;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: medium;
  font-family: sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  margin: 10px 15px;
  height: 50px;
  font-size: 20px;
  font-family: poppins;
}

.NextBtnEQ :hover {
  /* background: rgb(20, 20, 20); */
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.maindiv {
  display: flex;
  margin: 12px;
}

.close {
  color: #aaaaaa;
  float: right;
  text-indent: 16.5em;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

.form-control {
  background-color: #1f1e1e;
}

.AddBtn {
  border: none;
  text-indent: 18em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
  outline: 0;
}

.AddBtn input {
  height: 40px;
  width: 70px;
  border: 3px solid rgb(27, 24, 24);
  font-size: medium;
  font-family: poppins;
  background: rgb(170 170 170);
  border-radius: 10px;
  margin-top: 1px;
}

.AddBtn input:hover {
  background-color: #161515;
  color: #ffffff;
  border: 2px solid white;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.label_ {
  color: gray;
  font-size: 17px;
}

label {
  display: inline-block;
  margin-left: 0px;
}