.My-body6 {
  color: white;
  background-color: #1f2c30;
}

.RequestheaderUR {
  padding: 10px 0px 6px 8px;
  margin-left: 150px;
}

.courseTitleUR {
  font-weight: 400;
  font-size: 34px;
  font-family:'Poppins';
  float: left;
  margin-top: 89px;
  color: white;
}

.deadlineUR {
  font-size: 22px;
  float: right;
  padding-top: 80px;
  color: white;
  margin-top: 20px;
  font-weight: 900px;
}

.requestdateUR {
  font-size: 22px;
  float: left;
}

.requestBodyUR {
  text-align: left;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  border-radius: 10px;
  /* left: 50%; */
  z-index: 999;
  padding: 60px 82px;
  box-shadow: 0 0 40px 20px rgb(0 0 0 / 46%);
  color: white;
  margin-left: 170px;
  width: 85%;
  margin-top: 30px;
}

.outlineTitleUR {
  display: block;
  font-size: 27px;
  font-weight: 500;
  margin-left: 0px;
}

.uploadPaperUR {
  border: white;
  height: fit-content;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  text-align: center;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

button {
  width: 50%;
  background: rgb(17, 17, 17);
  border: 1px solid #fff;
  margin: 8px 0 10px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease;

}

button[type="submit"]:hover {
  background: rgb(5, 4, 4);
}

.submit-btnUR {
  position: relative;
  width: fit-content;
  padding-right: 46px;
}

.submit-btnUR::after {
  content: "\27a4";
  color: #333;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

input[type="file"] {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-style: inset;
  /* margin: 6px 0; */
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

.form-controlUR {
  background-color: #1f1e1e;

}