.Navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #171d1f;
  box-shadow: 10px 10px 100px black;
}

/* .VerNavbar{
    display: flex;
              flex-direction: column;
              height: 100%;
              position: fixed;
              left: 0;
              top: 0;
              width: 300px;
              padding: 10px;
    background: #11161b;
    box-shadow: 10px 10px 100px black;
  }
  
  .vernav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: poppin serif;
    padding: 20px 25px;
    margin: 0 15px;
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
      */

.VerNavbar {
  position: fixed;
  top: 75px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #171d1f;
  box-shadow: 10px 10px 100px black;
}

.vernav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 10px;
  margin: 8px;
}

.vernav a {
  display: block;
  padding: 10px;
  width: 212px;
  color: #DDDBCB;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  font-family: poppin serif;
  opacity: 0.9;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin: 10px;
}

.vernav a:hover {
  opacity: 1;
  background: #0a0a0a;
}

.vernav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 2px;
  background: #DDDBCB;
  transition: all .45s ease;
}

.vernav a:hover::before {
  width: 100%;
}

.vernav a.active {
  background-color: #ddd;
  color: #333;
}

.nav-logo {
  color: #DDDBCB;
  font-size: 35px;
  font-weight: 800;
  font-family: poppin serif;
  margin: 10px;
}

.nav-items a {
  color: #DDDBCB;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: poppin serif;
  padding: 20px 25px;
  margin: 0 5px;
  position: relative;
  opacity: 0.9;
  border-radius: 5px;
}

.nav-items a:hover {
  opacity: 1;
  background: #0a0a0a;
}


.nav-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #DDDBCB;
  transition: all .45s ease;
}

.nav-items a:hover::before {
  width: 100%;
}

/* .header-btn .progap{
    background: #0a0a0a;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 30px;
    transition: all .50s ease;
    margin: 5px;
    padding: 15px 12px;
    transition: all .8s ease;
  }
  
  .header-btn .progap:hover{
    background: #ffffff;
    border-radius: 20%;
    padding: 18px 40px;
  }
  
  .header-btn a{
    padding: 8px 12px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: poppin serif;
  } */

.header-btn a {
  padding: 8px 12px;
  color: #DDDBCB;
  font-size: 20px;
  font-weight: 600;
  font-family: poppin serif;
  margin: 20px;
}

.header-btn .progap {
  position: relative;
  /* Add a relative position to the link container */
  background: #0a0a0a;
  border: 1px solid rgb(131, 127, 127);
  border-radius: 50px;
  transition: all .50s ease;
  margin: 10px;
  padding: 15px 12px;
  padding-top: 20px;
  padding-bottom: 10px;
  transition: all .8s ease;
}

.header-btn .progap:hover {
  background: #DDDBCB;
  border-radius: 30%;
  padding-top: 25px;
  margin-bottom: 55px;
  padding-right: 45px;
  padding-left: 45px;
}

.header-btn .progap:hover box-icon {
  display: none;
  /* Hide the box-icon on hover */
}

.header-btn .progap:hover::before {
  content: "Profile";
  /* Display the value of the data-text attribute as the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 800;
  font-family: poppin serif;
  color: #0a0a0a;
  opacity: 0.9;
}

.header-btn .progap a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: poppin serif;
}

.header-btn .progap a:hover {
  text-decoration: none;
}

/* .header-btn .signlog{
    background: #0a0a0a;
    border: 2px solid transparent;
    border-radius:5px;
    transition: all .50s ease;
    max-height: 500px;
  }
  
  .header-btn .signlog:hover{
    background: #0e6e26;
    border: 2px solid transparent;
  } */

.header-btn .signlog {
  background: #0a0a0a;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all .50s ease;
  max-height: 500px;
  box-shadow: 2px 2px 0 0 #11161b, 4px 4px 0 0 white;
}

.header-btn .signlog:hover {
  background: #115c30;
  border: 1px solid white;
  box-shadow: 3px 3px #11161b, 6px 6px 0 0 #DDDBCB;
  transform: translate(-3px, -3px);
}

/*.search-bar{
    width: 200%;
    max-width: 500px;
    background: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin: 10px;
    height: 50px;
  }
  
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px;
    font-size: 16px;
    color: #cac7ff;
  }
  
  ::placeholder{
    color: #cac7ff;
    font-family: poppin serif;
  }
  
  .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #0a0a0a;
    cursor: pointer;
  } */

.btnsubmit {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 55px;
  background: #0a0a0a;
  cursor: pointer;
  margin: 5px;
}

.inputsearch {
  flex: 1;
  border: 0;
  outline: none;
  padding: 14px;
  font-size: 18px;
  color: #cac7ff;
  font-family: poppin serif;
  border-radius: 60px;
  max-width: 400px;
  background: rgba(225, 225, 225, 0.2);
  margin-bottom: 10px;
}

::placeholder {
  color: #cac7ff;
  font-family: poppin serif;
}