.FormBglogin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  .bg-imglogin {
    /* background-image: url("/src/Static/books2.jpg"); */
    /* background-color: #c4a88d; */
    background-color: #212529;
    height: 100vh;
    background-size: cover;
    background-position:center;
  }

  .contentlogin {
    margin-top: 0px;
    background-color: #252f38;
    /*10px*/
    border-radius: 10px;
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 82px;
    width: 30%;
    color: #d7e7ec;
    transform: translate(-50%, -50%);
    /* background-image: url("/src/Static/books.jpg"); */
    background-size: cover;
    /*background-image: url("/src/Static/Light.png");
    /*background: rgb(48, 22, 22);
    border: 1px solid #fff;
    /*backdrop-filter: blur(7px);*/
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  }
  
  header[type="LI"]{
    color: #d7e7ec;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(39) infinite alternate;
    border-right: 3px solid white;
    
  }
  @keyframes text{
    0%{
      width: 0ch; 
    }
    50%{
      width: 39ch;
    }
  }
  
  .fieldlogin {
    position: static;
    height: 40px;
    width: 100%;
    display: flex;
    background: #171d1f;
  }
  
  .fieldlogin span {
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  
  .input-boxlogin {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-style: inset;
    /* margin: 6px 0; */
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #d7e7ec;
  }
  
  select {
    background-color: #1f1e1e;
    color: #171d1f;
    border-radius: 20px;
  }
  
  .fieldlogin input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  .space {
    margin-top: 16px;
  }
  
  .showlogin {
    position: absolute;
    /* right: 13px; */
    padding: 7px 0px 0px 246px;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    display: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
  
  .pass-keylogin {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-style: inset;
    /* margin: 6px 0; */
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #171d1f;
  }
  
  .pass-keylogin:valid~.show {
    display: block;
  
  }
  
  .passlogin {
    text-align: left;
    margin: 10px 0;
  
  }
  
  .passlogin a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 19px;
  }
  
  .passlogin:hover a {
    text-decoration: underline;
  }
  
  button {
    width: 50%;
    background: rgb(31, 30, 30);
    border: 1px solid #fff;
    margin: 8px 0 10px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s ease;
  
  }
  
  button[type="submit"]:hover {
    background: rgb(20, 20, 20);
  }
  
  .fa {
    float: left;
  }
  
  .maindivlogin {
    display: flex;
    margin: 12px;
  }
  
  .submit-btnlogin {
    position: relative;
    width: fit-content;
    padding-right: 46px;
  }
  
  .submit-btnlogin::after {
    content: "\27a4";
    color: #333;
    line-height: 40px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  
  input[type="file"] {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-style: inset;
    /* margin: 6px 0; */
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
  }
  
  .form-controllogin {
    background-color: #1f1e1e;
  
  }
  
  .fieldlogin input[type="submit"] {
    background: rgb(31, 30, 30);
    border: 1px solid black;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
    border-radius: 20px;
  }
  
  .fieldlogin input[type="submit"]:hover {
    background: rgb(20, 20, 20);
  }
  
  .login {
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
  }