* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App{
    /* background-image: url("/src/Static/texture11.jpg"); */
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  @import url("https://fonts.googleapis.com/css?family-Montserrat:400,500,600,700|Poppins:408,500&display=swap");
  
  
  
  .designLable {
    width: 90px;
    margin-left: 10px;
    padding-left: 5px;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .main-container {
    display: flex;
  
  }
  
  main {
    padding: 30px;
  }
  
  #messageError {
    color: rgb(133, 48, 48);
    font-family: serif;
  }